<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net452" userInstalled="true" />
  <package id="AutoFixture" version="3.24.3" targetFramework="net452" userInstalled="true" />
  <package id="Common.Testing.NUnit" version="1.0.0" targetFramework="net452" userInstalled="true" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net452" userInstalled="true" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net452" userInstalled="true" />
  <package id="NLog" version="4.4.1" targetFramework="net452" allowedVersions="[4.3.11, )" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" userInstalled="true" />
</packages>