<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.2.4.900" targetFramework="net45" />
  <package id="AutoFixture" version="3.16.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1312.1622" targetFramework="net45" />
  <package id="NLog" version="1.0.0.505" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
</packages>