<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="6.0.0" targetFramework="net461" userInstalled="true" />
  <package id="AutoFixture" version="3.24.3" targetFramework="net461" userInstalled="true" />
  <package id="Common.Testing.NUnit" version="1.0.0" targetFramework="net461" userInstalled="true" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net461" userInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net461" userInstalled="true" />
  <package id="NLog" version="4.5.0" targetFramework="net461" allowedVersions="[4.3.11, )" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" userInstalled="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
</packages>